body{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: black;
}
#container{
       widows: 1000px;
       height: 550px;
       width: 1001px;
       background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(image1.jpg);
       margin:30px  auto;
       

}
#calculator
{
        width: 330px;
        height: 500px;
        background-color: cornsilk;
        margin: 0px auto;
        top: 20px;
        position: relative;
        border-radius: 10px;
        box-shadow:44px 13px 7px 0 rgba(0,0,0,0.2), inset -31px -11px 26px -16px rgba(0,0,0,0.19);
    }
    
#result{
    height: 120px;
}    
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 20px;
    color: #919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;



}

#keyboard{

    height: 400px;


}
.operator,.number,.empty
{
    width: 50px;
    height: 45px;
    margin: 15px;
    float: left;
    border-radius: 30%;
    border-width: 0px;
    font-weight: bold;
    font-size: 15px;

}
.number,.empty{
    background-color :cornsilk;;

}
.number,.operator{
    cursor: pointer;
}
.operator:active,.number:active{
    font-size: 13px;

}
.operator:focus,.number:focus,.empty:focus{
    outline: 0;
}
button:nth-child(4)
{
    font-size: 20px;
    background-color:  rgb(172, 231, 255);
}
button:nth-child(8)
{
    font-size: 20px;
    background-color:  rgb(172, 231, 255);
}
button:nth-child(12)
{
    font-size: 20px;
    background-color: rgb(172, 231, 255);
}
button:nth-child(16)
{
    font-size: 20px;
    background-color:  rgb(172, 231, 255);
}button:nth-child(20)
{
    font-size: 20px;
    background-color:red;
}
    
    
    
    


}